.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 2;
}

.nav-menu {
    display: flex;
}

/* This targets all Li elements in the navbar component */
li {
    padding: 0 1rem;
}

.hamburger {
    display: none;
    padding: 1rem;
}


/* Media Queries for devices with a max-width of 940px, anything under 940px will have these styles applied to the elements*/
@media screen and (max-width: 940px) {

    //This attribute removes the nav-menu from the html and it won't take up space
    .nav-menu {
        display: none;
    }

    //This attribute turns the hamburger icon into a block element 
    .hamburger {
        display: block;
    }

    .nav-icons {
        display: none;
    }

}