.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 2;
}

.nav-menu {
    display: flex;
}

/* This targets all Li elements in the navbar component */
li {
    padding: 0 1rem;
}

.hamburger {
    display: none;
    padding: 1rem;
}

.mobile-menu {
    display: none;
}

/* Media Queries for devices with a max-width of 940px, anything under 940px will have these styles applied to the elements*/
@media screen and (max-width: 940px) {

    .mobile-menu {
        display: flex;
        flex-direction: column;
        width: 109%;
        /*         color: rgba(255, 255, 255, .95);
 */
        top: 0;
        left: 0;
        /*         align-items: center;
 */
        position: absolute;
        justify-content: space-between;
        background-color: #f5f5f5;
        transition: 0.3s;
    }

    .mobile-nav {
        margin: 1rem 0;
    }

    .mobile-menu-bottom {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    .social-icons {
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
    }


    .social-icons .icon:hover {
        transform: scale(1.5);
        transition: 0.3s;
    }

    //This attribute removes the nav-menu from the html and it won't take up space
    .nav-menu {
        display: none;
    }

    //This attribute turns the hamburger icon into a block element 
    .hamburger {
        display: block;
    }

    .nav-icons {
        display: none;
    }

}